# Node / Backend
backend/node_modules/
backend/dist/
backend/.env
backend/*.log

# Prisma
backend/prisma/*.db

# .NET / MAUI
**/bin/
**/obj/
client/*.user
*.suo

# Visual Studio
**/.vs/
*.csproj.user

# SQLite local (datos de desarrollo)
*.sqlite
*.db

# OS / Editor
.DS_Store
.vscode/
.idea/
